*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#div0{
    background-image: url("resources/image/Background.png");
    height: 676px;
    background-attachment: fixed;
}
    #div0{
        height: 80%px;
        width: 90%;
    }
ul{
    list-style-type: none;
}
.nav-list a{
    color: black;
    text-decoration: none;
}
.nav-list{
    display: flex;
    justify-content: center;
    margin-left: 70%;
    align-items: center;
}
@media screen and (max-width:18555px) {
    
}
.reherche{
    position: relative;
    right: 140px;
    width: 20px;
}
.sing{
    position: relative;
    right: 125px;
    position:fixed ;
}
.nav-list button{
    width: 160px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
    position: relative;
    right: 110px;
}
.nav-list button span{
    color: gray;
}
.logo{
    position: relative;


    top: 30px;
    left: 180px;
}
.div1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.start{
    width: 160px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.free{
    color: gray;
}
.snippets{
    width: 70%;
}
.para{
    font-size: 14px;
}
.customize{
    width: 30%;
    position: relative;
    left: 55%;
    bottom: 250px;
}
#div3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    display: inline;
    position: relative;
    bottom: 240px;
}
#div3 ul li{
    text-decoration-line: none;
    position: relative;
    left: 61.5%;
    display: inline;
}
#div3 ul li a{
    text-decoration-line: none;
}
.policy{
    position: relative;
    right: 5px;
    margin-left: 20px;
}
.div4{
    margin-left: 15%;
    margin-top: 10%;
}
p{
    font-size:13px ;
}
.fully{
    line-height: 22px;
}

body{
    width: 100%;
}
